<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
			<link rel="stylesheet", href="/stylesheets/style.css" />
			<!-- Load the Paper.js library -->
			<script type="text/javascript" src="Paper/docs/assets/js/paper.js"></script>
			<!-- Define inlined PaperScript associate it with myCanvas -->
			<script type="text/paperscript" canvas="myCanvas">
	
var path = new Path.Circle(new Point(500, 300), 30);
path.fillColor = 'black';

var path1 = new Path.Circle(new Point(470, 280), 30);
path1.fillColor = 'black';

var path2 = new Path.Circle(new Point(440, 260), 30);
path2.fillColor = 'black';

var rand = Point.random() * view.size;
var vector = rand;
var myArray = [100];


function onFrame(event) 
{		
	myArray.push(path.position);
	var vec = vector.normalize(Math.abs(130));

	path.position += vec / 30;	
}

function onMouseUp(event) 
{
	vector = event.point - path.position;
	
}



			</script>
	</head>
	<body>
		<canvas id="myCanvas" width=1300 height=570></canvas>
	</body>
</html>