<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
			<link rel="stylesheet", href="/stylesheets/style.css" />
			<!-- Load the Paper.js library -->
			<script type="text/javascript" src="Paper/docs/assets/js/paper.js"></script>
			<!-- Define inlined PaperScript associate it with myCanvas -->
			<script type="text/paperscript" canvas="myCanvas">
	
var ws = new WebSocket("wss://localhost:4710/");

var radius = 30;
var path = new Path.Circle(new Point(0, 0), radius);
path.fillColor = 'black';

var path1 = new Path.Circle(new Point(0, 0), radius);
path1.fillColor = 'black';

var candy = new Path.Circle(new Point(100, 100), radius);
candy.fillColor = 'red';

var elemun = [];
elemun.push(new Path.Circle(new Point(500, 200), radius), new Path.Circle(new Point(500, 200), radius), new Path.Circle(new Point(500, 200), radius));

var elemde = [];
elemde.push(new Path.Circle(new Point(500, 200), radius), new Path.Circle(new Point(500, 200), radius), new Path.Circle(new Point(500, 200), radius));

var end = false;

// connexion au serveur
ws.onopen = function (event) 
{
  	console.log("I'm here");
};


// envoi click au serveur
function onMouseUp(event) 
{
	var pt = new Point(event.point);
	var message = { 
				type : "clic",
				posx : pt.x,
				posy : pt.y
		};
		ws.send(JSON.stringify(message));
}


//Reception de message
ws.onmessage = function (message) 
{ 
	var msg = JSON.parse(message.data);

	
	switch(msg.type)
	{

		case "serpent" :
			path.position = msg.posun;
			path1.position = msg.posde;
			candy.position = msg.poscandy;
			candy.fillColor.hue += 1;
			

			var i = 0;
			var j = 0;

			if (msg.posqueueun.length > elemun.length)
			{
				elemun.push(new Path.Circle(new Point(0, 0), radius));
			}
			if (msg.posqueuede.length > elemde.length)
			{
				elemde.push(new Path.Circle(new Point(0, 0), radius));
			}


			while(i<msg.posqueueun.length)
			{
				elemun[i].fillColor = 'black';
				elemun[i].position = msg.posqueueun[i];			
				i++;
			}
			while(j<msg.posqueuede.length)
			{
				elemde[j].fillColor = 'black';
				elemde[j].position = msg.posqueuede[j];			
				j++;
			}
			break;
		
		case "candy" :
			candy.position = msg.poscandy; 	
			break;

	
		case "gagné" :
			var score = msg.score; 
  			alert("Gagné !!!! score : "+score);
			break;
				

		case "perdu" :
			var score = msg.score; 
  			alert("Perdu !!!! score : "+score);
			break;
	}

};





			</script>
	</head>
	<body>
		<canvas id="myCanvas" width=1200 height=500></canvas>
	</body>
</html>