<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
			<link rel="stylesheet", href="/stylesheets/style.css" />
			<!-- Load the Paper.js library -->
			<script type="text/javascript" src="Paper/docs/assets/js/paper.js"></script>
			<!-- Define inlined PaperScript associate it with myCanvas -->
			<script type="text/paperscript" canvas="myCanvas">
	
var ws = new WebSocket("wss://localhost:4710/");


ws.onopen = function (event) 
{
  	console.log("I'm here");
};

function onMouseUp(event) 
{
	ws.send(JSON.stringify(event.position));
}

//Reception de message
ws.onmessage = function (message) 
{ 
	var msg = JSON.parse(message.data);

	switch(msg.type)
	{
		case"config":
	
			console.log(msg);
			break;		
	}
};

			</script>
	</head>
	<body>
		<canvas id="myCanvas" width=1300 height=570></canvas>
	</body>
</html>